PORT= 8080

# database configuratioon
DATABASE_HOST=127.0.0.1
DATABASE_NAME=db_bookstore
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

# basic auth
BOOKSTORE_USERNAME=bookstorebe
BOOKSTORE_PASSWORD=bookstorebe